.account-details {
  max-width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
}

.AccountContainer {
  margin-bottom: 50px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.AccountTitle {
  color: black;
  font-size: 24px;
  margin-right: auto;
  margin-top: 3rem;
}

.recored {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.detailLabel {
  color: #333;
  margin-bottom: 5px;
  font-size: 14px;
}

.detailValue {
  color: black;
  font-size: 16px;
}

.button-container {
  display: flex;
  align-items: center;
}

.change-btn, .action-btn {
  background-color: white;
  color: black;
  font-size: 14px;
  border: 1px solid #4eb7ac;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  width: 120px; /* Consistent width */
}

.action-btn {
  margin-left: 8px;
}

.change-btn svg {
  font-size: 18px;
  margin-right: 5px;
}

.change-btn:hover, .action-btn:hover {
  background-color: #4eb7ac;
  color: white;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

.save-btn:hover {
  background-color: #218838;
}

.cancel-btn:hover {
  background-color: #c82333;
}

/* Media Query for small screens */
@media (max-width: 600px) {
  .change-btn span, .action-btn span {
    display: none;
  }

  .change-btn svg {
    font-size: 24px;
  }
}
