/*ProfileTabs.css*/
.profile-tabs-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    height: 80px;
    border-radius: 16px;
    justify-content: space-around;
    align-items: center; 
    padding: 0px;
    background-color: white; 
    border-bottom: 1px solid #fff; 
    position: relative;
}
/* For medium screens, such as tablets */
@media (max-width: 768px) {
    .profile-tabs-container {
      width: 90%; /* Adjust width for smaller screens */
      height: auto; /* Allow height to adjust dynamically */
      flex-direction: column; /* Stack tabs vertically */
      justify-content: center;
      gap: 10px; /* Add spacing between tabs */
    }
  
    .tabP {
      width: 100%; /* Make tabs take full width */
      font-size: 14px; /* Reduce font size */
      padding: 10px; /* Add padding for easier tapping */
    }
  
    .tabP.active::after {
      width: 80%; /* Adjust the width of the bottom border */
    }
  }
  
  
  @media (max-width: 480px) {
    .profile-tabs-container {
      width: 80%; 
      padding: 5px;
      display: flex;
      flex-direction: row;
    }
  
    .tabP {
      font-size: 12px; /* Further reduce font size */
      padding: 8px; /* Compact padding */
    }
  
    .tabP.active::after {
      height: 1px; /* Thin bottom border for compact look */
      width: 70%; /* Reduce width of bottom border */
    }
  }
  