.Review-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    width: 300px;
    height: 200px;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* Multiple box shadows */
    box-shadow: 
      8px 8px 0px rgba(78, 183, 172, 0.6), /* Shadow for bottom-right (already existing) */
      -8px -8px 10px rgba(0, 0, 0, 0.1);  /* Shadow for top-left in a different color */
  }
  
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .location {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  .description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #FFD700;  
  }
  
  .user-name {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
  